@page
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}
<h1>Restaurants</h1>
<div>@Model.Message</div>
<div>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchTerm" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
   
        @foreach (var item in Model.Restaurants)
        {
            <partial name="_Summary" model="item" />
        }
    <a asp-page="./Edit" class="btn btn-outline-primary">Add New</a>
</div>

@section footer
{

    <div>@Model.AppSettingMessage</div>
}

